@import 'Auth';
@import 'variables';

.login-btn {
  @extend .btn;
  background: linear-gradient(45deg, transparent 5%, $red-color 5%);
  box-shadow: 6px 0px 0px $blue-color;
  &::after {
    content: 'LOGIN';
    background: linear-gradient(
      45deg,
      transparent 3%,
      $blue-color 3%,
      $blue-color 5%,
      $red-color 5%
    );
  }
}
